/* Estilo Geral */
body{
    background-color:#fff;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* Estilo do Cabeçalho*/
header{
    padding: 20px 4%;
}

h1{
    text-align: left;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu a{
    font-size: 20px;
    color: #000;
}

header nav.menu a:hover{
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav.menu ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button{
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: aqua;
    transition: .2s;
    cursor: pointer;
    font-weight: 600;
}

.btn-contato button:hover{
    transform: scale(1.05);
}

/* Estilo do topo do site*/
section.topo-do-site{
    line-height: 40px;
    padding: 85px 4%;
    gap: 60px;
}

.topo-do-site .txt-topo-site h1{
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

h7{
    font-size: 28px;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

.topo-do-site .txt-topo-site p{
    font-size: 22px;
    margin: 40px 0;
}

.topo-do-site .txt-topo-site button{
    padding: 10px 4%;

    background-color: aqua;
    border-radius: 15px;

    font-family: "Merriweather", serif;
    font-weight: 600;
    
    cursor: pointer;
    transition: .2s;
}

.topo-do-site .txt-topo-site button:hover{
    transform: scale(1.05);
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* Estilo de Sobre */
section.sobre{
    padding: 142px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 90px;
}

.sobre .interface h2 span{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    line-height: 40px;
    display: block;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
    font-size: 22px;
}

/* Estilo dos Serviços */
section.servicos{
    padding: 30px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.servicos h3{
    font-size: 36px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

h6{
    font-size: 25px;
    text-align: center;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

section.servicos .flex{
    gap: 60px;
}

.servicos .serv-box{
    padding: 30px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 45px;
    box-shadow: 0 0 20px;
    transition: .2s;
}

.serv-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(6, 10, 10);
}

/* Estilo do Formulário */
.formulario{
    padding: 40px 4%;
    align-items: center;
    margin-top: 5%;
}

h4{
    text-align: center;
    font-size: 40px;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

form{
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    flex-direction: column;

    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;

    border-radius: 20px;
    outline: 0;
}

form textarea{
    resize: none; 
    max-height: 400px;
}

button.botao{
    padding: 20px 4%;
    margin-top: 0.5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;

    background-color: aqua;
    border-radius: 20px;

    font-size: 20px;
    font-weight: 600;

    cursor: pointer;
    transition: .2s;
}

button.botao:hover{
    transform: scale(1.05);
}

footer{
    padding: 15px 4%;
    margin-top: 40px;
    align-items: center;

    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 22px;
}


.redes-sociais{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

h5{
    padding-bottom: 20px;
    font-size: 23px;
    color: #fff;
    font-family: "Merriweather", serif;
    font-weight: 600;
}

i{
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;

    color: #fff;
}